/********* Header *************/
header {
  height: 12vh;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.nav-bar-items {
  display: flex;
  align-items: center;
}

/********* Main *********/
main {
	height: auto;
}

/******** First main section **********/
.main-section {
  height: 80vh
}

/******** Second main section **********/
.second-main-section {
  height: 100vh
}

/******** Subsection one **********/
.sub-section-one {
  height: 70vh;
}

/******** Subsection two **********/
.sub-section-two {
  height: 70vh;
}

/******** Subsection three **********/
.sub-section-three {
  height: 70vh;
}

/******** Shades of grey *************/
.black {
  background-color: black;
}

.grey-one {
  background-color: rgb(40, 40, 40);
}

.grey-two {
  background-color: rgb(78, 78, 78);
}

.grey-three {
  background-color: rgb(124, 124, 124);
}

.grey-four {
  background-color: rgb(167, 167, 167);
}

.grey-five {
  background-color: rgb(201, 201, 201);
}

.grey-six {
  background-color: rgb(216, 216, 216);
}

.white {
  background-color: white;
}